<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Willkommen
    </ion-title>
    <img align="right" width="20px" height="20px" src="/assets/icon/small_logo.png">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/img/home.jpg" alt=""/>
    <ion-card-header>
      <ion-card-subtitle align="center">Deine digitale Sitzplatzsuche in der Bib</ion-card-subtitle>
    </ion-card-header>
  </ion-card>


  <header>Hier geht es direkt zur Bibliotheken Suche</header>
  <ion-button expand="block" (click)="toSearch()">Bibliotheken in meiner Nähe</ion-button>

  <header>Hier geht es direkt zur Sitzplatz Suche</header>
  <ion-button expand="block">Sitzplatz finden</ion-button>
</ion-content>
