<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Einstellungen
    </ion-title>
    <img align="right" width="20px" height="20px" src="/assets/icon/small_logo.png">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Benachrichtigungen</ion-label>
      <ion-select value="notifications" interface="action-sheet">
        <ion-select-option value="Direkt Nachricht">Direkt Nachricht</ion-select-option>
        <ion-select-option value="Hinweis">Hinweis</ion-select-option>
        <ion-select-option value="Ausschalten">Ausschalten</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Favoriten Speicherung</ion-label>
      <ion-toggle slot="start" name="blueberry" checked></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>GPS Freigabe</ion-label>
      <ion-toggle slot="start" name="blueberry" checked></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>

